body {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

section {
  height: 100vh;
  padding: 3em;

  h1 {
    font-size: 5rem;
  }
}

.overlay {
  background: #282828;
  color: #f2f2f2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  clip-path: circle(100px at 50% 50%);
  clip-path: circle(100px at var(--x, 50%) var(--y, 50%));
  transition: clip-path 100ms;
}

span {
  border-radius: 5rem;
  background-color: #282828;
  cursor: pointer;
  padding: 1rem 1.5rem;
  color: #f2f2f2;
  font-size: 1.8rem;
}

.hover-btn2 {
  background: #f2f2f2;
  color: #282828;
}

.is-open {
  clip-path: circle(200% at 100% 100%);
  transition: clip-path 1.3s;
  transition-timing-function: cubic-bezier(1, -0.01, 0.01, 0.99);
}
